/*
@theme fukui
@auto-scaling true
*/
@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;800&display=swap');


:root {
    --brand-color: #2c2c4c;
    --bg-color: #f2f2f8;
    --text-color: #2c2c4c;
    --font-sans: "Noto Sans JP";
    font-size: 32px;

    --h1-font-size: 2.1rem;
    --h2-font-size: 1.69rem;
    --h3-font-size: 1.3rem;

    --header-padding: calc(var(--h1-font-size) * 0.625);
    --header-height: calc(var(--h1-font-size) + (var(--header-padding) * 2));
}

/* スライド全体 */
section {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-sans);
    width: 1920px;
    height: 1080px;
}

/* 表紙スライド */
section.lead {
    padding-top: 0;
}

section.lead h1 {
    all: unset;
    color: var(--text-color);
    font-size: var(--h1-font-size);
    font-family: var(--font-sans);
    font-weight: 800;
    padding: 0%;
    left: 0%;
    top: 50%;
}

section.lead h2 {
    color: var(--brand-color);
    font-family: var(--font-sans);
    font-weight: 800;
    font-size: var(--h3-font-size);
}

/* h1 ~ h3 */
section>h1,
section>section>h1 {
    background-color: var(--brand-color);
    color: var(--bg-color);
    font-size: var(--h1-font-size);
    font-family: var(--font-sans);
    font-weight: 800;
    width: 100%;
    padding: var(--header-padding);
    position: absolute;
    left: 0%;
    top: 0%;
    margin-bottom: 0;
}

section h2 {
    color: var(--brand-color);
    font-family: var(--font-sans);
    font-weight: 800;
    font-size: var(--h2-font-size);
}

section h3 {
    color: var(--brand-color);
    font-family: var(--font-sans);
    font-weight: 600;
    font-size: var(--h3-font-size);
}

/* h1ヘッダーがあるスライドだけ本文の前に空白を追加 */
section:has(> h1)::before {
    content: "";
    display: block;
    height: var(--header-height);
}